.mat-list-item {
  color: black;
  border: 2px solid blue;
}
.bordered {
  border: 2px solid;
  border-radius: 12px;
  border-width: medium;
  text-align: center;
  margin-right: 2px;
}
.mat-divider {
  border-top-color: rgba(0, 0, 0, 0.25);
}
